In [39]:
import pandas as pd

In [40]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [41]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

nan is the missing value

In [42]:
# isnull() is a data frame method 
# True means missing values 

ufo.isnull().head()

    City  Colors Reported  Shape Reported  State   Time
0  False             True           False  False  False
1  False             True           False  False  False
2  False             True           False  False  False
3  False             True           False  False  False
4  False             True           False  False  False

In [43]:
ufo.notnull().head()

   City  Colors Reported  Shape Reported  State  Time
0  True            False            True   True  True
1  True            False            True   True  True
2  True            False            True   True  True
3  True            False            True   True  True
4  True            False            True   True  True

In [44]:
# where is it useful 
# to find number of missing values in each column 
# internally what happens is true gets converted to 1 and false gets convertd to 0 and then sums it up
# sum does the column sum 

ufo.isnull().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [45]:
# isnull() is also a series method 

ufo.City.isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: City, dtype: bool

In [46]:
ufo[ufo.City.isnull()].head()

    City Colors Reported Shape Reported State             Time
21   NaN             NaN            NaN    LA   8/15/1943 0:00
22   NaN             NaN          LIGHT    LA   8/15/1943 0:00
204  NaN             NaN           DISK    CA  7/15/1952 12:30
241  NaN            BLUE           DISK    MT   7/4/1953 14:00
613  NaN             NaN           DISK    NV   7/1/1960 12:00

# WHAT SHOULD YOU DO ABOUT MISSING VALUES

In [47]:
# options in pandas: 
# depends on analysis and probelm you are trying to solve

In [48]:
# one common thing is to drop the missing values

ufo.shape    # rows, column

(18241, 5)

In [49]:
# drop a row if any of the value is mising 
ufo.dropna(how='any').shape  # by default inplace= false

# we almost lost all of the rows except 2500 rows .

(2486, 5)

In [50]:
ufo.dropna(how='all').shape

(18241, 5)

In [51]:
# where city and shape reported both have null vales
ufo.dropna(subset=['City', 'Shape Reported'], how='all').shape

# 4 rows dropped

(18237, 5)

# FILLING MISSING VALUES

In [52]:
# shape reported has 2644 missing values
print ufo['Shape Reported'].isnull().sum()

# Tells category count 
ufo['Shape Reported'].value_counts(dropna = False)

# What if I want to fill these 2644 missing values 
# may be fill with various ? currenly thr are 333 values in various

2644

LIGHT        2803
NaN          2644
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
ROUND           2
CRESCENT        2
DOME            1
PYRAMID         1
HEXAGON         1
FLARE           1
Name: Shape Reported, dtype: int64

In [54]:
ufo['Shape Reported'].fillna(value = 'VARIOUS', inplace=True)
ufo['Shape_Reported'].value_counts()

KeyError: 'Shape_Reported'